body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.me-page {
  background: url('พื้นหลัง.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.content {
  text-align: center;
  margin-top: 40px;
  color: white;
  text-shadow: 2px 2px 6px black;
}

/* เพลงหลัก */
.main-player {
  width: 90%;
  max-width: 520px;
  margin: 30px auto;
}

.main-player iframe {
  width: 100%;
  height: 180px;
  border-radius: 18px;
  border: none;
  box-shadow: 0 12px 30px rgba(0,0,0,0.45);
}

/* เพลงเล็ก */
.song-section {
  width: 90%;
  max-width: 520px;
  margin: 20px auto 10px;
}

.song-page {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.song-page.active {
  display: grid;
}

.song-wrapper {
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
}

.song-wrapper iframe {
  width: 100%;
  height: 120px;
  border: none;
  pointer-events: none;
}

/* หัวใจ */
.page-controls {
  text-align: center;
  margin-bottom: 280px;
}

.page-heart {
  font-size: 28px;
  cursor: pointer;
  margin: 0 10px;
  opacity: 0.4;
  transition: 0.3s;
  filter: drop-shadow(0 0 8px rgba(0,180,255,0.9));
}

.page-heart.active {
  opacity: 1;
  transform: scale(1.4);
  filter: drop-shadow(0 0 12px rgba(0,200,255,1));
}

/* เมนูล่าง */
.button-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 420px;
  display: flex;
  justify-content: center;
  gap: 18px;
  align-items: flex-end;
  padding: 14px 0;
  z-index: 9999;
}

.btn-item {
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #000;
  background-color: rgba(0,0,0,0.5);
}

.circle-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-text {
  margin-top: 6px;
  font-size: 14px;
  color: yellow;
  text-shadow: 1px 1px 3px black;
}

.me-only {
  margin-bottom: -16px;
}

.me-img {
  width: 170px;
}
